body
{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

header
{
    padding: 180px;
    background: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#comienzo
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#logito
{
    width: 250px;
    height: 100px;
}

#logo
{
    width: 250px;
    padding: 10px 30px;
}

#barra
{
    width: 45%;
}

#areabuscador input
{
    width: 100%;
    font-size: 25px;
    color: rgb(221, 56, 56);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#seccionfavorito button
{
    background: rgb(241, 36, 36);
    font-size: 25px;
    padding: 10px;
    margin: 5px 30px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
}


#seccionfavorito button:hover, #seccionfavorito select:hover
{
    color: white;
    background-color: black;
    border: solid 2px white;
    text-decoration: none;
}

#milista a
{
    text-decoration: none;
    color: inherit;
}

#contenedor
{
    margin-inline: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.elemento
{
    margin: 30px;
}

.elemento:hover
{
    transform: scale(1.1);
}

.poster
{
    height: 300px;
    width: 200px;
}

.poster img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.nombre
{
    max-width: 200px;
    margin: 20px 5px 5px 5px;
    font-size: 18px;
    font-weight: bold;
}

.peliculaelemento
{
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ranki, .listapelis
{
    font-size: 15px;
}

.ranki i
{
    color: rgb(241, 36, 36);
}

.listapeliculas
{
    color: white;
}

.listapeliculas:hover
{
    color: rgb(241, 36, 36);
}

.add-movie-to-list{
    color: #f11692;
}
.add-movie-to-list:hover{
    color: red;
}

.navegador
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.navegador button
{
    font-size: 25px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: rgb(241, 36, 36);
}
.navegador button:hover
{
    transform: scale(1.1);
    color: white;
    background-color: black;
    border: solid 2px white;
}
